/*@charset "utf-8";*/
/**/
.XZMB{
cursor:hand;
color:#2B88CA;
}
.chooseComment{
text-align:left;
position:absolute;
width:48%;  
margin-top:25;  
margin-left:5; 
background-color:white;
display:none;
border-left:1px solid #a2bac0;
border-top:1px solid #a2bac0;
border-right:1px solid #d5dbdf;
}
.commentItem{
text-align:left;
width:100%;
background-color:white;
padding-top:2;
line-height:16px;
border-bottom:1px solid #d5dbdf;
}
.commentItemCheck{
float:left;
padding-left:5;
width:25;
float:left;
margin-top:-4;
}
.commentItemContain{
float:left;
margin-left:30; 
margin-right:-30;
margin-top:-18; 
line-height:16px;
word-wrap: break-word; 
word-break: normal; 
text-align:left;
}