#d0 {
	text-align: center;
}

#d1 {
	border: solid 1px #00ff00;
	width: 20px;
	height: 20px;
	display: inline
}

#d2 {
	border: solid 1px #0000ff;
	width: 20px;
	height: 20px;
	display: inline
}
.body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica,
		sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
}

#mytable {
	width: 700px;
	padding: 0;
	margin: 0;
}


.hover1{
	  font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica,
		sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
	
	
	}



.caption {
	padding: 0 0 5px 0;
	width: 700px;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

.th {
	font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background:  url("../theme/standard/default/images/grid/tableth.png") repeat-x scroll 0 0 #F0EFF0;
	font-family: 宋体, Arial;
}

.th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

.td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	font-size: 13px;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	font-family: 宋体, Arial;
	
}
  
.focusTd {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background:  url("../theme/standard/default/images/grid/tableth.png") repeat-x scroll 0 0 #F0EFF0;
	font-size: 13px;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
	font-family: 宋体, Arial;
	
}


.tr{
   height: 10px;	
}


.td.alt {
	background: #F5FAFA;
	color: #797268;
}

.th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

.th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

.mid_div {
	width: 100%;
	text-align: center;
}

.title_tb,.data_tb {;
	border-collapse: collapse;
	cellspacing: 0;
	cellpadding: 0;
	text-align: center;
}

.title_div,.data_div {
	text-align: left;
	overflow-y: scroll;
	background: white;
}

.data_div {
	height: 100px;
}
/* 培训报名左侧div样式 */
.left_div{
    float: left; 
    position: relative; 
    width: 40%; 
    border-style: none;
    border-width: 1pt; 
    border-color: white
}

/* 培训报名中间div样式 */
.mid1_div{
    float: left; 
    position: relative; 
    width: 10%; 
    border-style: solid; 
    border-width: 0pt; 
    border-color: white
}


/* 培训报名左侧div样式 */
.right_div{
    float: right; 
    position: relative; 
    width: 40%; 
    border-style: solid; 
    border-width: 3pt; 
    border-color: white
}

/*培训报名中间部分子div样式*/
.m_div{
    margin-left:70px
}
/* 资质新增加的样式 */
.MyTitle {
	width: 15%;
	border-top: 1px solid #9ebcc3;
	border-right: 1px solid #9ebcc3;
	padding: 5px;
	padding-left: 10px;
}
.MyTitle8 {
    width: 5%;
    border-top: 1px solid #9ebcc3;
    border-right: 1px solid #9ebcc3;
    padding: 1.5px;
    padding-left:10px;
}
.MyBody {
	width: 32%;
	border-top: 1px solid #9ebcc3;
	border-right: 1px solid #9ebcc3;
	padding: 3px;
}

.tableDIV {
	border: 1px solid #9ebcc3;
	width: 100%;
	height:180px;
	border-collapse:collapse;
}
.tableDIV td{
	border: 1px solid #9ebcc3;
	height:2px;
	border-right: none;
	border-collapse:collapse;
}
.BZXTR td {
	background-color: #A9D8F6;
	border-right: none;
	border-left: none;
	text-align: center;
}


