.ip_containerFirst {
  border: 1px solid #A2BAC0;
 
}
.ip_octetFirst {
  border: 0;
  text-align: center;
  width: 2em;
}
.ip_containerLast {
  border: 1px solid #A2BAC0;
 
}
.ip_octetLast {
  border: 0;
  text-align: center;
  width: 2em;
}

.pageFormContent div{ clear:none; display:block; overflow:hidden; height:auto;}
.pageFormContent .ip_octetFirst{ float:none;}
.pageFormContent .ip_octetLast{ float:none;}

.errorInfo {
	background-position:100% 0;
	color: #FFFFFF; background-color:#FF0000;
	padding:2px; margin:0; line-height:15px; font-size:12px; border-style:solid; border-width:1px;
	
}