/*报表整体区域*/
div.rpt_frame{
	
}

/*标题区*/
table.rpt_title td{
	text-align:center;
	vertical-align:middle;
	font-family:宋体;
	font-size:10pt;
}

/*表头区*/
table.rpt_header td {
	background-image: url(image/table/hdr.gif);
	background-repeat: repeat-x;
	
	text-align:center;
	vertical-align:middle;
	font-family:宋体;
	font-size:10pt;
}

/*左表头区*/
table.rpt_header_left td {
	background-image: url(image/table/hdr.gif);
	background-repeat: repeat-x;
	
	text-align:center;
	vertical-align:middle;
	font-family:宋体;
	font-size:10pt;
}

/*数据区*/
table.rpt_body td{
	text-align:center;
	vertical-align:middle;
	font-family:宋体;
	font-size:10pt;
}

/*单元格边框*/
td.border_0 {

}
td.border_r {
	border-right: 1px solid black;
}
td.border_b {
	border-bottom: 1px solid black;
}
td.border_l {
	border-left: 1px solid black;
}
td.border_t {
	border-top: 1px solid black;
}

/*行间距的样式*/
.lineheight{
    line-height:30px;
}
/*显示覆盖的样式*/
.zindex{
	 z-index:2147483647;
} 
/*过滤白色样式*/
.filterwhite img{
	filter: Chroma(Color=white);
}
